<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         backupGlobals="true"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnRisky="true"
         failOnWarning="true"
         syntaxCheck="false"
         colors="auto"
         verbose="true">

    <testsuite>
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <const name="WEBSERVER_HOST" value="localhost" />
        <const name="WEBSERVER_PORT" value="12345" />
        <const name="WEBSERVER_DOCROOT" value="tests/Composer/VirtualEnvironment/Tests/Fixtures" />
        <const name="WEBSERVER_DELAY_IN_MILLISECONDS" value="500" />
    </php>

  </phpunit>